<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8">
	<title>Chỉnh Sửa Danh Mục</title>
</head>
<body>
<section>
	<div class="container p-5 mt-3">
		<div class="row">
			<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">

				<div class="card shadow-lg border-0 rounded-3">

					<div class="card-header text-center bg-dark text-white p-3">
						<h3 class="mb-0">Chỉnh Sửa Danh Mục</h3>
					</div>

					<div class="card-body p-4 bg-light">

						<th:block th:if="${session.succMsg}">
							<div class="alert alert-success" role="alert">
								<strong>[[${session.succMsg}]]</strong>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</div>
						</th:block>
						<th:block th:if="${session.errorMsg}">
							<div class="alert alert-danger" role="alert">
								<strong>[[${session.errorMsg}]]</strong>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</div>
						</th:block>

						<form action="/admin/updateCategory" method="post">
							<input type="hidden" name="id" th:value="${category.id}">

							<div class="form-floating mb-3">
								<input type="text" id="categoryName" name="name"
									   th:value="${category.name}" class="form-control"
									   placeholder="Tên Danh Mục" required>
								<label for="categoryName" class="fw-bold">
									<i class="fa-solid fa-tags me-2"></i>Tên Danh Mục
								</label>
							</div>

							<div class="form-floating mb-3">
                         <textarea id="categoryDesc" class="form-control"
								   name="description" th:text="${category.description}"
								   placeholder="Mô Tả"
								   style="height: 120px"></textarea> <label for="categoryDesc" class="fw-bold">
								<i class="fa-solid fa-card-text me-2"></i>Mô Tả
							</label>
							</div>

							<div class="row g-2 mt-3">
								<div class="col-6">
									<a th:href="@{/admin/category}" class="btn btn-secondary btn-lg w-100">
										<i class="fa-solid fa-arrow-left me-2"></i>
										Quay Lại
									</a>
								</div>
								<div class="col-6">
									<button type="submit" class="btn btn-success btn-lg w-100 fw-bold">
										<i class="fa-solid fa-save me-2"></i>
										Cập Nhật
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>