<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container-fluid mt-5 p-5">
			<div class="row">
				<p class="text-center fs-3">Đơn hàng của tôi</p><hr>
				<th:block th:if="${session.succMsg}">
					<p class="text-success fw-bold text-center">[[${session.succMsg}]]</p>
					<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
				</th:block>

				<th:block th:if="${session.errorMsg}">
					<p class="text-danger fw-bold text-center">[[${session.errorMsg}]]</p>
					<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
				</th:block>
				<div class="col-md-12 ">

					<table class="table table-bordered card-sh ">
						<thead >
							<tr >
								<th scope="col">Mã đơn hàng</th>
								<th scope="col">Ngày đặt</th>
								<th scope="col">Chi tiết</th>
								<th scope="col">Thành tiền</th>
								<th scope="col">Phương thức thanh toán</th>
								<th scope="col">Trạng thái</th>
								<th scope="col">Hủy</th>
							</tr>
						</thead>
					
						<tbody>
							<tr th:each="o:${orders}">
							  <th scope="row">[[${o.orderId}]]</th>
								<td>[[${o.orderDate}]]</td>
								<td>[[${o.product.title}]]</td>  
								<td>Số lượng : [[${o.quantity}]] <br>Thành tiền: [[${@commonServiceImpl.formatVnd(o.quantity * o.price)}]]₫ </td>
								<td>[[${o.paymentType}]]</td>
								<td>[[${o.status}]]</td>
														
								<td><th:block th:if="${o.status!='Cancelled'}">
										<a th:href="@{'/user/update-status?id='+${o.id}+'&st=6' }" class="btn btn-sm btn-danger">Hủy</a>
								   </th:block> 
								   <th:block th:unless="${o.status!='Cancelled'}">
								    <a href="#" class="btn btn-sm btn-danger disabled" >Đã hủy</a>
									</th:block>
								</td>
						
					     </tr>
						</tbody>
					
					</table>
				</div>
			</div>

		</div>
	</section>
</body>
</html>