<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
	<section>
     <div class="container p-5 mt-3">
			<div class="row">
				<div class="col-md-8 offset-md-2 text-center">
					
			   	<div class="text-center mt-5">
					    <img alt="" src="/img/user/success.png" width="80px" height="80px">
					</div>  
					
		   <!--			<i class="fa-solid fa-circle-check fa-5x text-success mt-5"></i>    -->
												
					<h4 class="text-center">Your Order Successfully</h4>
					<p class="fs-5 text-center">with in off hour your order will delivered in your Address</p>
					
					<div class="text-center">
			         	<img alt="" src="/img/user/deli.jpg" width="430px" height="300px">
					</div>
					
					<div class="text-center">
								         	<a href="/" class="btn btn-warning me-2">Home</a>
											<a href="/user/user-orders" class="btn btn-secondary ms-2">Your Order</a>
										</div>
										
				</div>
			</div>
		</div> 
		
		
		
	</section>
</body>
</html>