<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <title>Đặt hàng Thành công</title>
    <meta charset="UTF-8">
</head>
<body>
    <section>
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">
                    
                    <div class="success-box text-center">
                        
                        <i class="fa-solid fa-circle-check fa-5x success-icon"></i> 
                        
                        <h2 class="success-title">
                            CẢM ƠN BẠN!
                        </h2>
                        <h4 class="fw-bold accent-color">
                            Đơn hàng của bạn đã được đặt thành công!
                        </h4>
                        <p class="lead text-muted mt-3">
                            Chúng tôi đang chuẩn bị đơn hàng và sẽ sớm giao đến tay bạn.
                        </p>
                        
                        <div class="text-center">
                            <img src="/img/user/deli.jpg" class="delivery-image" alt="Giao hàng" width="400px" height="280px">
                        </div>
                        
                        <div class="mt-4">
                            <a href="/" class="btn btn-accent-red btn-lg me-3">
                                <i class="fa-solid fa-house me-2"></i> Quay về Trang chủ
                            </a>
                            
                            <a href="/user/user-orders" class="btn btn-outline-secondary btn-lg">
                                Đơn hàng của bạn
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div> 
    </section>
</body>
</html>