<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container card-sh" style="margin-top: 70px;margin-bottom: 100px">

			<div class="col-md-12 p-4">
				<p class="fs-3 text-center">Products Details</p> <br>
				<div class="row">
					
					                    <th:block th:if="${session.succMsg}">
											<p class="text-success alert alert-success text-center" role="alert">[[${session.succMsg}]]</p>
											<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
										</th:block>
					
										<th:block th:if="${session.errorMsg}">
											<p class="text-danger text-center  alert alert-danger">[[${session.errorMsg}]]</p>
											<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
					
										</th:block>
					
					
					<div class="col-md-6 text-end">
						<img alt="" th:src="@{'/img/product/'+${product.image}}" style="border-radius: 4px; box-shadow: 0 0 10px rgba(0, 0, 0, .1);"  width="390px" height="400px">
					</div>

					<div class="col-md-6">

						<p class="fs-3">[[${product.title}]]</p>
						<p>
							<span class="fw-bold">Description : </span><br>	[[${product.description}]]
						</p>
						<p>
							<span class="fw-bold">Category:	[[${product.category}]]</span>
							
						</p>
						<p class="fs-5 fw-bold">
							Price :&nbsp; &nbsp; &nbsp; &nbsp;<i class="fas fa-rupee-sign"></i> [[${product.discountPrice}]] 
							<span class="fs-6 text-decoration-line-through text-secondary">[[${product.price}]]</span>
							<span class="fs-6  text-success">[[${product.discount}]]% off</span>
						</p>

						<th:block th:if="${user==null}">						
						<a href="/signin" class="btn btn-danger col-md-6">Add To Cart</a>
						</th:block>
						
						                      <th:block th:unless="${user==null}">						
												<a th:href="@{'/user/addCart?pid='+${product.id}+'&uid='+${user.id}}" class="btn btn-danger col-md-6">Add To Cart</a>
												</th:block>
					</div>
				</div>
			</div>
		</div>


	</section>
</body>
</html>